body {
  font-style: normal;
  font-family: 'Roboto', 'Arial', sans-serif;
  color:rgba(33, 33, 33, 1);
  letter-spacing: 0.03em;
}
.ul{
list-style: none;
}
 
.nav-bar{

background: rgba(255, 255, 255, 1);

}

.site-nav {
  background: rgba(255, 255, 255, 1);

 

}

.nav {
  color:rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.02em;
  text-decoration: none;


}
.nav:hover {
  text-decoration: underline;
 text-decoration-color:  rgba(33, 150, 243, 1);
}

.web {
  font-family: "Raleway";
  
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color:  rgba(33, 150, 243, 1);
  
}

.box {
  background: rgba(47, 48, 58, 1);

}
.box-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);

}


.button {
 cursor: pointer;
  background: rgba(33, 150, 243, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
}
.button{
  text-decoration: underline;
  text-decoration-color:rgba(33, 150, 243, 1); ;
}
.info-title {
  
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: rgba(33, 33, 33, 1);

}

.post-title {
  width: 270px;
  height: 16px;

  
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: rgba(33, 33, 33, 1);
}
.post-text {
  
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.service {
  background: rgba(245, 244, 250, 1);

}

.service-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: rgba(33, 33, 33, 1);
}
.sevice-namber {
  color:  rgba(33, 33, 33, 1);
}

.service-text {
  
  font-size: 16px;
  line-height: 19px;
  color: rgba(117, 117, 117, 1);

}

.footer {
  background: rgba(47, 48, 58, 1);

}

.address {
  color:  rgba(255, 255, 255, 1);
}
.info {
  color: rgba(255, 255, 255, 0.6);


}
  
/* css portafolio */

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}


.link:hover{ 
  
  text-decoration:underline ;
  text-decoration-color: rgba(33, 150, 243, 1);;
}
.study {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color:rgba(33, 150, 243, 1);
}
.current {
  color: rgba(33, 150, 243, 1);}
.current:hover{
  text-decoration: underline;
}
.buttonp {
  cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;

color: #212121;

}
.buttonp:hover{
text-decoration: underline;
text-decoration-color: rgba(33, 150, 243, 1); 
}
.color 
{
cursor: pointer;
  background-color: #2196f3;
}
.color:hover{
border-color:rgba(33, 150, 243, 1);  
}

.efect:hover{
 border-color: rgba(33, 150, 243, 1);
}
 
.active :active{
  background: rgba(245, 244, 250, 1);

}


.efect:active{
  background: rgba(245, 244, 250, 1);

  
}
.efect:focus{ 
  background: rgba(245, 244, 250, 1);
}

.section-cursor{
  cursor: pointer;
}
.section {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  
}
.text {
  
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
 .web-footer {

  font-family: "Raleway";
  
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color: #2196f3;
 }
 .footer-address {
  color: #ffffff;

 }
.info-address {
  color: rgba(255, 255, 255, 0.6);
}