:root {
  --brand-color:rgba(33, 33, 33, 1);
  --line-height: 1.1;
  --color:rgba(33, 150, 243, 1);
}
body {
  font-style: normal;
  font-family: 'Roboto', 'Arial', sans-serif;
  color:var(--brand-color) 
 
}
.ul{
list-style: none; 
}
 
.nav-bar{

background: rgba(255, 255, 255, 1);

}

.site-nav {
  background: rgba(255, 255, 255, 1);

 

}

.nav {
  color:var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.02em;
  text-decoration: none;


}
.nav:hover {
  text-decoration: underline;
 text-decoration-color: var(--color);
}
.web {
  font-family: "Raleway";
  
  font-weight: 700;
  font-size: 26px;
  line-height: var(--line-height);
  text-decoration: none;
  color:  var(--color);
  
}

.box {
  background: rgba(47, 48, 58, 1);

}
.box-title {
  font-weight: 900;
  font-size: 44px;
  line-height:var(--line-height);
  text-transform: uppercase;

  color: rgba(255, 255, 255, 1);

}


.button {
 cursor: pointer;
  background: var(--color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 1);
}
.info-title {
  
  font-weight: 700;
  font-size: 36px;
  line-height: var(--line-height);

  color: var(--brand-color);

}
.post-title {
  
  font-weight: 700;
  font-size: 14px;
  line-height: var(--line-height);
  text-transform: uppercase;

  color: var(--brand-color);
}
.post-text {
  
  font-size: 14px;
  line-height: 1.7;
  color:  rgba(117, 117, 117, 1);

}

.service {
  background: rgba(245, 244, 250, 1);

}
.img:hover{
  border: 1px solid;
  border-color:  var(--color);
}

.service-title {
  font-weight: 700;
  font-size: 36px;
  line-height: var(--line-height);
  color:var(--brand-color) ;
}
.sevice-namber {
  color: var(--brand-color);
}

.service-text {
  
  font-size: 16px;
  line-height:var(--line-height);
  color:  rgba(117, 117, 117, 1);


}

.footer {
  background: rgba(47, 48, 58, 1);

}

.address {
  color:  rgba(255, 255, 255, 1);
}
.info {
  color: rgba(255, 255, 255, 0.6);


}
  
/* css portafolio */

.link  {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.02em;
  text-decoration: none;
  
}
.list{
  list-style: none;
}


.link:hover{ 
  
  text-decoration:underline ;
  text-decoration-color: var(--color);}

.study {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: var(--line-height);
  text-decoration: none;
  color:var(--color);
}
.current {
  color: var(--color)}
.current:hover{
  text-decoration: underline;
}
.buttonp {
  cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;

color: var(--brand-color);

}

.buttonp:hover{
text-decoration: underline;
text-decoration-color: var(--color); 
}
.color 
{
 
cursor: pointer;
  background-color: var(--color);
}
.color:hover{
border-color:var(--color);  
}

.efect:hover{
 border-color: var(--color);
}
 
.active :active{
  background: rgba(245, 244, 250, 1);

}


.efect:active{
  background: rgb(120, 120, 121);

  
}
.efect:focus{ 
  background: rgba(245, 244, 250, 1);
}

.image:hover{
  border: 1px solid;
border-color:  var(--color);
}
.title:hover{
  text-decoration: underline;
text-decoration-color:var(--color); 
}
.text:hover{
  text-decoration: underline;
text-decoration-color: var(--color); 
}
.section {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  
}
.text {
  
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  color: #757575;
}
 .web-footer {

  font-family: "Raleway";
  
  font-weight: 700;
  font-size: 26px;
  line-height: var(--line-height);
  text-decoration: none;
  color: var(--color);
 }
 .footer-address {
  color: #ffffff;

 }
.info-address {
  color: rgba(255, 255, 255, 0.6);
}